src/SetDkimKey/Service References/UtilsService/sl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccountQueueCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountQueueCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountQueueCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptDomainKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="privateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptDomainKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptDomainKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptDomainKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="privateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptDomainKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptDomainKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpungeQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpungeQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExpungeQueueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearRestrictions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearRestrictionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearRestrictionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountQueueCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountQueueCount" />
  </wsdl:message>
  <wsdl:message name="GetAccountQueueCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountQueueCountResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptDomainKeySoapIn">
    <wsdl:part name="parameters" element="tns:EncryptDomainKey" />
  </wsdl:message>
  <wsdl:message name="EncryptDomainKeySoapOut">
    <wsdl:part name="parameters" element="tns:EncryptDomainKeyResponse" />
  </wsdl:message>
  <wsdl:message name="DecryptDomainKeySoapIn">
    <wsdl:part name="parameters" element="tns:DecryptDomainKey" />
  </wsdl:message>
  <wsdl:message name="DecryptDomainKeySoapOut">
    <wsdl:part name="parameters" element="tns:DecryptDomainKeyResponse" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ExpungeQueueSoapIn">
    <wsdl:part name="parameters" element="tns:ExpungeQueue" />
  </wsdl:message>
  <wsdl:message name="ExpungeQueueSoapOut">
    <wsdl:part name="parameters" element="tns:ExpungeQueueResponse" />
  </wsdl:message>
  <wsdl:message name="ClearRestrictionsSoapIn">
    <wsdl:part name="parameters" element="tns:ClearRestrictions" />
  </wsdl:message>
  <wsdl:message name="ClearRestrictionsSoapOut">
    <wsdl:part name="parameters" element="tns:ClearRestrictionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="PrivateServiceSoap">
    <wsdl:operation name="GetAccountQueueCount">
      <wsdl:input message="tns:GetAccountQueueCountSoapIn" />
      <wsdl:output message="tns:GetAccountQueueCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptDomainKey">
      <wsdl:input message="tns:EncryptDomainKeySoapIn" />
      <wsdl:output message="tns:EncryptDomainKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DecryptDomainKey">
      <wsdl:input message="tns:DecryptDomainKeySoapIn" />
      <wsdl:output message="tns:DecryptDomainKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input message="tns:AddAccountSoapIn" />
      <wsdl:output message="tns:AddAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExpungeQueue">
      <wsdl:input message="tns:ExpungeQueueSoapIn" />
      <wsdl:output message="tns:ExpungeQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearRestrictions">
      <wsdl:input message="tns:ClearRestrictionsSoapIn" />
      <wsdl:output message="tns:ClearRestrictionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrivateServiceSoap" type="tns:PrivateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountQueueCount">
      <soap:operation soapAction="http://tempuri.org/GetAccountQueueCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptDomainKey">
      <soap:operation soapAction="http://tempuri.org/EncryptDomainKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptDomainKey">
      <soap:operation soapAction="http://tempuri.org/DecryptDomainKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpungeQueue">
      <soap:operation soapAction="http://tempuri.org/ExpungeQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearRestrictions">
      <soap:operation soapAction="http://tempuri.org/ClearRestrictions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrivateServiceSoap12" type="tns:PrivateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountQueueCount">
      <soap12:operation soapAction="http://tempuri.org/GetAccountQueueCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptDomainKey">
      <soap12:operation soapAction="http://tempuri.org/EncryptDomainKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptDomainKey">
      <soap12:operation soapAction="http://tempuri.org/DecryptDomainKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpungeQueue">
      <soap12:operation soapAction="http://tempuri.org/ExpungeQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearRestrictions">
      <soap12:operation soapAction="http://tempuri.org/ClearRestrictions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrivateService">
    <wsdl:port name="PrivateServiceSoap" binding="tns:PrivateServiceSoap">
      <soap:address location="http://localhost:8086/sl.asmx" />
    </wsdl:port>
    <wsdl:port name="PrivateServiceSoap12" binding="tns:PrivateServiceSoap12">
      <soap12:address location="http://localhost:8086/sl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>