src/SetDkimKey/Service References/AccountSettings/AccountSettings.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Find">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="includeDeleted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="section" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSettingsResult" type="tns:ArrayOfSettingKeyValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSettingKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SettingKeyValuePair" nillable="true" type="tns:SettingKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SettingKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="section" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfSettingKeyValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSettingsResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnumSections">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnumSectionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnumSectionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="friendlyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="basePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="options" type="tns:AccountDeleteOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AccountDeleteOptions">
        <s:restriction base="s:string">
          <s:enumeration value="Delete" />
          <s:enumeration value="Undelete" />
          <s:enumeration value="PermanentlyDelete" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindSoapIn">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="FindSoapOut">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="GetSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSettings" />
  </wsdl:message>
  <wsdl:message name="GetSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SetSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:SetSettings" />
  </wsdl:message>
  <wsdl:message name="SetSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:SetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="EnumSectionsSoapIn">
    <wsdl:part name="parameters" element="tns:EnumSections" />
  </wsdl:message>
  <wsdl:message name="EnumSectionsSoapOut">
    <wsdl:part name="parameters" element="tns:EnumSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountServiceSoap">
    <wsdl:operation name="Find">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Finds acocunts that match the user name search crieria.</wsdl:documentation>
      <wsdl:input message="tns:FindSoapIn" />
      <wsdl:output message="tns:FindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the setting values for a specific account's config file section.</wsdl:documentation>
      <wsdl:input message="tns:GetSettingsSoapIn" />
      <wsdl:output message="tns:GetSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set the settings for a specific confif file and section.</wsdl:documentation>
      <wsdl:input message="tns:SetSettingsSoapIn" />
      <wsdl:output message="tns:SetSettingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnumSections">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enumerates the available sections of the specified config file.</wsdl:documentation>
      <wsdl:input message="tns:EnumSectionsSoapIn" />
      <wsdl:output message="tns:EnumSectionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates an account.</wsdl:documentation>
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes or restores the specified account.</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSoap" type="tns:AccountServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettings">
      <soap:operation soapAction="http://tempuri.org/GetSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <soap:operation soapAction="http://tempuri.org/SetSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnumSections">
      <soap:operation soapAction="http://tempuri.org/EnumSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountServiceSoap12" type="tns:AccountServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap12:operation soapAction="http://tempuri.org/Find" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettings">
      <soap12:operation soapAction="http://tempuri.org/GetSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSettings">
      <soap12:operation soapAction="http://tempuri.org/SetSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnumSections">
      <soap12:operation soapAction="http://tempuri.org/EnumSections" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountServiceSoap" binding="tns:AccountServiceSoap">
      <soap:address location="http://localhost:8086/AccountSettings.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountServiceSoap12" binding="tns:AccountServiceSoap12">
      <soap12:address location="http://localhost:8086/AccountSettings.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>